* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  line-height: 2;
  max-width: 1200px;
  margin: 0 auto;
  background-color: rgb(106, 172, 150);
}

.editor {
  width: 70%;
  margin: 20px auto;
  background-color: aquamarine;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
}

.editor label {
  width: 100%;
  padding: 10px;
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 2rem;
  border-radius: 5px 5px 0 0;
}

#editor {
  width: 100%;
  border: none;
  padding: 10px;
  font-size: 18px;
}

#editor:focus {
  outline: 1px solid rgb(106, 172, 150);
}

.btn {
  width: 100%;
  padding: 10px;
  text-align: center;
  border: none;
  outline: none;
  border-radius: 0 0 5px 5px;
  text-transform: uppercase;
  color: white;
  background-color: black;
}

.markdown-body {
  background-color: white;
  width: 70%;
  margin: 20px auto;
  border-radius: 5px;
  padding: 30px;
}

@media (max-width: 768px) {
  .editor,
  .markdown-body {
    width: 98%;
  }

  .editor label {
    font-size: 1.5rem;
  }

  #editor {
    font-size: 16px;
  }
}
